.hello {
    font-size: 1.25em;
    color: purple;
    padding: 1.1em;
    font-family: Arial;
    text-align: center;
}

.calcButtonStyle {
    width: "35px",
    marginRight: "5px",
    borderRadius: "8px",
    backgroundColor: "#eeeeee",
    padding: "10px",
    textAlign: "center"
}