/* Global Styles
====================*/
html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  justify-content: center;
}

h1, h2 {
  text-transform: uppercase;
}

/* Header and Footer
====================*/
header {
    padding-top: 200px;
    flex: 0 0 100%;
}



/* Container and Main
====================*/
#container > * {
    padding: 1em;
  }
  
#container {
color: #2F3040;
font-family: 'Roboto', sans-serif;
display: flex;
flex-wrap: wrap;
max-width: 1200px;
margin: auto;
}


/* Media Queries
====================*/